/*
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(138, 234, 146);
    box-shadow: 4px 4px gray;
}
.x{
    background-color: red;

}
.y{
    background-color: blue;
}*/

